html{
    margin: auto;
    padding: 0;
    width: 100%;
}
body{
    background-color: rgb(39, 39, 39);
    font-family: sans-serif;
    margin: 0;
    align-items: center;
    padding: 0;
}
main{
    margin: 5%;
    margin-top: 160px;
}

.menu{
    margin-left: auto;
    text-align: right;
    line-height: 100px; /* mesmo valor que o height da logo */
}

li{
    color: white;
}
footer li{
    color: white;
    display: inline-block;
    margin: 20px;
}

h1{
    color: rgb(9, 106, 253);
    border-bottom: white solid 2px;
}
h2{
    color: rgb(161, 211, 255);
}
h3{
    color: rgb(161, 211, 255);
    border-bottom: white solid 1px;
}
p{
    color: white;
}
header{
    background-color: rgb(0, 45, 112);
    color: white;
    display: block;
    text-align: right;
    padding: 20px 40px;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
}

nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 20px;
    border: white solid 1px;
    border-radius: 10px;
}
nav a:last-child{
    margin-right: 5%;
}
footer{
    background-color: rgb(0, 45, 112);
    color: white;
    display: block;
    text-align: center;
    padding: 50px;
    width: 100%;
    box-sizing: border-box; /* faz o padding ficar dentro do width*/
}
section:first-child p{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}section:first-child a{
    color: white;
    text-decoration: none;
    border: white solid 1px;
    border-radius: 5px;
    padding: 5px;
}
img{
    float: left;
}
.imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -10px;
}

.imagem img{
    width: 200px;  
    height: auto;
}

section.inicio p{
    font-size: 17px;
    font-weight: normal;
}

.gato{
    height: 100px;
    width: auto;
    margin: 5px;
    margin-left: 45px; /* aumente ou diminua para mover mais ou menos */
}
fieldset{
    border: white solid 1px;
    border-radius: 10px;
    padding: 20px;
    color: white;
} fieldset input{
    color: white;
    background-color: transparent;
    border: white solid 1px;
    border-radius: 5px;
    padding: 5px;
    background-color: transparent;
}
textarea{
    color: white;
    background-color: transparent;
    border: white solid 1px;
    border-radius: 5px;
    padding: 5px;
}
textarea:hover, input:hover, button:hover{
    border-color: rgb(9, 106, 253);
    color: rgb(9, 106, 253);
}
.botao {
    color: rgb(9, 106, 253);
    background-color: white;
    border: white solid 1px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.botao:hover {
    background-color: rgb(9, 106, 253);
    color: white;
}